#home, #fried-chicken, #wings, #pancake {
    background-color: rgb(255, 231, 180);
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}
/**{
    background-color: rgb(255, 231, 180);
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}*/
.hozzavalok {
    font-size: 18px;
    color: white;
    background-color: rgb(131, 113, 74);
    /*-webkit-text-stroke: 1px brown; 
    font-weight: bold;*/
}
h1 {
    text-align: center;
}
#home {
    text-align: center;
}
.links{
    text-align: center;
}

.kep{
    text-align: center;
    background-color: rgb(131, 113, 74);
}
#pancake .kep img{
    height: 338px;
    width: 450px;
    object-fit: cover;
}
#home ul{
    text-align: left;
    display: inline-block;
}
ul li, ol li {
    padding: 8px ;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;

   /* height: 338px;
    width: 450px;
    object-fit: cover; ---if all imges sized like pancake img*/
}
